<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type", content="text/html" charset="utf-8">
</head>
<body>	
	<h1>Quote Request</h1>
	<h3>Name: </h3><p><%= name %></p>
	<h3>Number: </h3><p><%= number %></p>
	<h3>Suburb: </h3><p><%= suburb %></p>
	<h3>Email: </h3><p><%= email %></p>
	<h3>Address: </h3><p><%= address %></p>
	<h3>Description: </h3><p><%= description %></p>
</body>
</html>